# Process : NOAAOI SSTv2
_process NOAAOI SST product_

- **Original**: `/local/data/artemis/observations/NOAA_OI_SSTv2`
- **Processed**: `/local/data/artemis/observations/NOAA_OI_SSTv2`
- **Variable**: sst
- **Temporal**: Monthly, 198112 - 201908
- **Spatial**: 1x1 degree, interpolated from native grid
- **todo**: 

Laste update : 20 September 2019 L. Gloege

In [1]:
import xarray as xr
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Observations directory
dir_obs = '/local/data/artemis/observations'

In [3]:
# Load raw data
ds = xr.open_dataset(f'{dir_obs}/NOAA_OI_SSTv2/originals/sst.mnmean.nc')

In [4]:
# flip latitudes so is in increasing order
ds = ds.sortby('lat')

In [5]:
print(f'start: {ds.time[0].values}, end: {ds.time[-1].values}')

start: 1981-12-01T00:00:00.000000000, end: 2019-08-01T00:00:00.000000000

In [6]:
# Make time vector (want it to be centered on 15th of the month)
dates = pd.date_range(start=str(ds.time[0].values), 
                      end=str(ds.time[-1].values),freq='MS')+ np.timedelta64(14, 'D')
da_dates = xr.DataArray(dates, dims='time')
np.shape(da_dates)

(453,)

In [7]:
print(dates[0])
print(dates[-1])

1981-12-15 00:00:00
2019-08-15 00:00:00

# Save raw data as NetCDF

In [8]:
ds_out = xr.Dataset(
    {
    'sst':(['time','lat', 'lon'], ds['sst'],
          {'long_name':'sea surface temperature',
            'units':'degC'}),
    },

    coords={
    'lat': (['lat'], ds['lat'], {'units':'degrees_north'}),
    'lon': (['lon'], ds['lon'], {'units':'degrees_east'}),
    'time': (['time'], da_dates)
    },
    attrs={'contact':'Luke Gloege (gloege@ldeo.columbia.edu)',
           'creation_date':'21 September 2019',
           'notes':'original data, no manipulation',
           'original_data':'https://www.esrl.noaa.gov/psd/data/gridded/data.noaa.oisst.v2.html'})

In [9]:
ds_out.info()

xarray.Dataset {
dimensions:
	lat = 180 ;
	lon = 360 ;
	time = 453 ;

variables:
	float32 sst(time, lat, lon) ;
		sst:long_name = sea surface temperature ;
		sst:units = degC ;
	float32 lat(lat) ;
		lat:units = degrees_north ;
	float32 lon(lon) ;
		lon:units = degrees_east ;
	datetime64[ns] time(time) ;

// global attributes:
	:contact = Luke Gloege (gloege@ldeo.columbia.edu) ;
	:creation_date = 21 September 2019 ;
	:notes = original data, no manipulation ;
	:original_data = https://www.esrl.noaa.gov/psd/data/gridded/data.noaa.oisst.v2.html ;
}

In [10]:
ds_out.to_netcdf(f'{dir_obs}/NOAA_OI_SSTv2/processed/sst_1x1_mon_NOAAOIv2_198112-201908.nc')

# Testing

In [11]:
ds_out.lat

<xarray.DataArray 'lat' (lat: 180)>
array([-89.5, -88.5, -87.5, -86.5, -85.5, -84.5, -83.5, -82.5, -81.5, -80.5,
       -79.5, -78.5, -77.5, -76.5, -75.5, -74.5, -73.5, -72.5, -71.5, -70.5,
       -69.5, -68.5, -67.5, -66.5, -65.5, -64.5, -63.5, -62.5, -61.5, -60.5,
       -59.5, -58.5, -57.5, -56.5, -55.5, -54.5, -53.5, -52.5, -51.5, -50.5,
       -49.5, -48.5, -47.5, -46.5, -45.5, -44.5, -43.5, -42.5, -41.5, -40.5,
       -39.5, -38.5, -37.5, -36.5, -35.5, -34.5, -33.5, -32.5, -31.5, -30.5,
       -29.5, -28.5, -27.5, -26.5, -25.5, -24.5, -23.5, -22.5, -21.5, -20.5,
       -19.5, -18.5, -17.5, -16.5, -15.5, -14.5, -13.5, -12.5, -11.5, -10.5,
        -9.5,  -8.5,  -7.5,  -6.5,  -5.5,  -4.5,  -3.5,  -2.5,  -1.5,  -0.5,
         0.5,   1.5,   2.5,   3.5,   4.5,   5.5,   6.5,   7.5,   8.5,   9.5,
        10.5,  11.5,  12.5,  13.5,  14.5,  15.5,  16.5,  17.5,  18.5,  19.5,
        20.5,  21.5,  22.5,  23.5,  24.5,  25.5,  26.5,  27.5,  28.5,  29.5,
        30.5,  31.5,  32.5,  33.5,  34.5,  35.5,  36.5,  37.5,  38.5,  39.5,
        40.5,  41.5,  42.5,  43.5,  44.5,  45.5,  46.5,  47.5,  48.5,  49.5,
        50.5,  51.5,  52.5,  53.5,  54.5,  55.5,  56.5,  57.5,  58.5,  59.5,
        60.5,  61.5,  62.5,  63.5,  64.5,  65.5,  66.5,  67.5,  68.5,  69.5,
        70.5,  71.5,  72.5,  73.5,  74.5,  75.5,  76.5,  77.5,  78.5,  79.5,
        80.5,  81.5,  82.5,  83.5,  84.5,  85.5,  86.5,  87.5,  88.5,  89.5],
      dtype=float32)
Coordinates:
  * lat      (lat) float32 -89.5 -88.5 -87.5 -86.5 -85.5 ... 86.5 87.5 88.5 89.5
Attributes:
    units:    degrees_north